## Ignorar binários e build
[Bb]in/
[Oo]bj/
.vs/
.vscode/

## Ignorar configurações locais e segredos
appsettings.json
appsettings.Development.json
*.user
*.suo

## Ignorar Certificados (CRÍTICO)
*.pfx
*.pem
*.key

## Ignorar Docker volumes/logs
.docker/
*.log